
.alink
{
	text-decoration : none;
	color :  #C70039 ;
}
.alink:hover
{
	text-decoration : underline;
}
.request
{
	text-decoration : none;
	color : white;
}
.request:hover
{
	text-decoration : underline;
}
.index
{
	background-color : white;
	color : red;
	margin-left : 10px;
	margin-right : 10px;
	margin-top : -21px;
	height : 150px;
	line-height : 150px;
}

.a0
{
    background-color: #2a93dc;
    color: black;
    border : 2px solid  #2a93dc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left : 120px;
	margin-top : 10px;

}
.a0:hover
{
    background-color: white;
    text-decoration : underline;
}
.a1
{
    background-color: #2a93dc;
    color: black;
    border : 2px solid  #2a93dc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left : -5px;
	margin-top : 10px;

}
.a1:hover
{
    background-color: white;
    text-decoration : underline;
}
.a2
{
    background-color: #2a93dc;
    color: black;
    border : 2px solid  #2a93dc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left : -5px;
	margin-top : 10px;

}
.a2:hover
{
    background-color: white;
    text-decoration : underline;
}
.a3
{
    background-color: #2a93dc;
    color: black;
    border : 2px solid  #2a93dc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left : -5px;
	margin-top : 10px;

}
.a3:hover
{
    background-color: white;
    text-decoration : underline;
}
.a4
{
    background-color: #2a93dc;
    color: black;
    border : 2px solid  #2a93dc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left : -5px;
	margin-top : 10px;

}
.a4:hover
{
    background-color: white;
    text-decoration : underline;
}
.a5
{
    background-color: #2a93dc;
    color: black;
    border : 2px solid  #2a93dc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left : -5px;
	margin-top : 10px;

}
.a5:hover
{
    background-color: white;
    text-decoration : underline;
}
.a6
{
    background-color: #2a93dc;
    color: black;
    border : 2px solid  #2a93dc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left : -5px;
	margin-top : 10px;

}
.a6:hover
{
    background-color: white;
    text-decoration : underline;
}
.a7
{
    background-color: #2a93dc;
    color: black;
    border : 2px solid  #2a93dc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left : -5px;
	margin-top : 10px;

}
.a7:hover
{
    background-color: white;
    text-decoration : underline;
}

.links
{
	margin-top : -25px;
	margin-left : 0px;
}

